<html>


<form name="newstudentform" action="/filledstudentform" method= "post">

Name    <input type="text" name="name"><br>
Tagline <input type="text" name="tagline"><br>
Bio     <input type="text" name="bio">

<input type="submit" value="Submit">

</form>


</html>